In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('boston_x_y_train.csv')
print(df.shape)
df.head()

(379, 14)

,# CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Y
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990,37.9
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474,21.4
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076,12.7
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438,19.9
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007,22.5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   # CRIM    379 non-null    float64
 1    ZN       379 non-null    float64
 2    INDUS    379 non-null    float64
 3    CHAS     379 non-null    float64
 4    NOX      379 non-null    float64
 5    RM       379 non-null    float64
 6    AGE      379 non-null    float64
 7    DIS      379 non-null    float64
 8    RAD      379 non-null    float64
 9    TAX      379 non-null    float64
 10   PTRATIO  379 non-null    float64
 11   B        379 non-null    float64
 12   LSTAT    379 non-null    float64
 13   Y        379 non-null    float64
dtypes: float64(14)
memory usage: 41.6 KB

In [4]:
df.corr()[' Y']

# CRIM     -0.369008
 ZN         0.315195
 INDUS     -0.484045
 CHAS       0.174785
 NOX       -0.417313
 RM         0.673201
 AGE       -0.357291
 DIS        0.233597
 RAD       -0.353358
 TAX       -0.447537
 PTRATIO   -0.494706
 B          0.329809
 LSTAT     -0.744355
 Y          1.000000
Name:  Y, dtype: float64

In [5]:
df.columns

Index(['# CRIM', ' ZN', ' INDUS', ' CHAS', ' NOX', ' RM', ' AGE', ' DIS',
       ' RAD', ' TAX', ' PTRATIO', ' B', ' LSTAT', ' Y'],
      dtype='object')

In [6]:
X=df.drop(' Y',axis=1)
Y=df[' Y']

In [7]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,random_state=10)

In [8]:
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import r2_score

clf = LinearRegression()
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
print(r2_score(y_test,y_pred))

0.7352713736705936

In [11]:
from sklearn.ensemble import GradientBoostingRegressor
clf_gd = GradientBoostingRegressor()

clf_gd.fit(x_train,y_train)
y_pred_gd = clf_gd.predict(x_test)
print(r2_score(y_test,y_pred_gd))

0.9017268763521882

In [12]:
# final model
dd = pd.read_csv('boston_x_test.csv',header=None)
print(dd.shape)
print(dd.columns)
dd.head()

(127, 13)
Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2.918166,-0.487722,1.015999,-0.272599,0.365444,-1.609343,1.117494,-1.048494,1.661245,1.530926,0.806576,-1.597551,1.041062
1,-0.403392,-0.487722,0.406098,-0.272599,-1.016689,0.560412,-1.332629,1.029344,-0.637962,-0.708183,-1.135347,0.441052,-0.894738
2,-0.413178,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850
3,-0.412649,0.413589,-0.802031,-0.272599,-0.999412,-0.408356,-1.677566,1.435452,-0.637962,-0.981390,-0.765457,0.441052,-0.591963
4,-0.405882,-0.487722,-0.375976,-0.272599,-0.299707,-0.127698,-0.504068,-0.483566,-0.523001,-0.143951,1.130230,0.403663,0.048631

In [10]:
# model = LinearRegression()
# model.fit(X,Y)
# y_final = model.predict(dd)
# y_final

In [17]:
# np.savetxt('result_boston.csv',y_final)

In [13]:
model = GradientBoostingRegressor()
model.fit(X,Y)
y_final = model.predict(dd)
np.savetxt('result_boston_gdBoost.csv',y_final)